/*NOTE: The Site navigation styling is controlled in nav-menu.css*/
/*SCSS COLOR VARIABLES*/
/*BASE STYLES*/
/* line 17, ../scss/pdxc-basic-styles.scss */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: white;
  color: black;
}

/* line 25, ../scss/pdxc-basic-styles.scss */
header a {
  text-decoration: none;
  color: black;
}

/* line 31, ../scss/pdxc-basic-styles.scss */
img {
  max-width: 100%;
}

/* line 35, ../scss/pdxc-basic-styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: black;
}

/* line 39, ../scss/pdxc-basic-styles.scss */
pre, code {
  overflow-x: scroll;
}

/*SITE LAYOUT CLASSES*/
/* line 43, ../scss/pdxc-basic-styles.scss */
#site-header, #site-content, #post-wrapper #site-sidebar, #site-footer {
  margin: 0;
  padding: 1rem;
}

/* line 48, ../scss/pdxc-basic-styles.scss */
#post-wrapper, #site-sidebar {
  float: left;
}

/* line 52, ../scss/pdxc-basic-styles.scss */
#site-container {
  margin: 0 auto;
  padding: 1rem;
}

/* line 57, ../scss/pdxc-basic-styles.scss */
#site-header, #site-footer {
  max-width: 100%;
  clear: both;
}

/* line 62, ../scss/pdxc-basic-styles.scss */
#site-header {
  background: white;
}

/* line 66, ../scss/pdxc-basic-styles.scss */
#site-footer {
  background: white;
}

/* line 70, ../scss/pdxc-basic-styles.scss */
#site-content {
  max-width: 100%;
}

/* line 74, ../scss/pdxc-basic-styles.scss */
#post-wrapper {
  width: 73%;
  padding: 0 1%;
}

/* line 79, ../scss/pdxc-basic-styles.scss */
#site-sidebar {
  width: 22%;
  margin-right: 1%;
  padding: 0 1%;
}

/* line 85, ../scss/pdxc-basic-styles.scss */
#site-footer {
  /*Placeholder for styling specific to the site footer*/
}

/*HEADER STYLING*/
/* line 90, ../scss/pdxc-basic-styles.scss */
#site-title, #site-description {
  text-align: center;
}

/* line 94, ../scss/pdxc-basic-styles.scss */
#title-bg {
  background: rgba(180, 180, 180, 0.75);
}

/* line 98, ../scss/pdxc-basic-styles.scss */
#site-title {
  font-size: 3rem;
}
/* line 100, ../scss/pdxc-basic-styles.scss */
#site-title a {
  color: black;
}

/* line 105, ../scss/pdxc-basic-styles.scss */
#site-description {
  font-size: 2rem;
  color: black;
}

/* line 110, ../scss/pdxc-basic-styles.scss */
#header-image {
  width: 100%;
}

/*POST LAYOUT STYLES*/
/* line 119, ../scss/pdxc-basic-styles.scss */
.byline, .post-meta {
  width: 100%;
  float: left;
  clear: both;
}

/* line 124, ../scss/pdxc-basic-styles.scss */
.post-categories, .author {
  float: left;
}

/* line 128, ../scss/pdxc-basic-styles.scss */
.post-date, .post-tags {
  float: right;
}

/*SITE COMMENT STYLES*/
/* line 133, ../scss/pdxc-basic-styles.scss */
.comment-list, .children {
  list-style-type: none;
}

/* line 137, ../scss/pdxc-basic-styles.scss */
.comment-list > li, .children > li {
  margin: 1rem 0;
  padding: 1rem;
  border: thin solid black;
}

/* line 144, ../scss/pdxc-basic-styles.scss */
.bypostauthor {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* line 148, ../scss/pdxc-basic-styles.scss */
.children {
  margin: 1rem;
  padding: 0;
}

/* line 153, ../scss/pdxc-basic-styles.scss */
.comment-list li.odd {
  background: #cccccc;
}

/* line 157, ../scss/pdxc-basic-styles.scss */
.comment-list li.even {
  background: white;
}

/*WORDPRESS GENERATED CLASSES*/
/* line 162, ../scss/pdxc-basic-styles.scss */
.sticky {
  border: thin solid black;
  padding: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* line 173, ../scss/pdxc-basic-styles.scss */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.wp-post-image {
  max-width: 100%;
  height: auto;
}

/* line 178, ../scss/pdxc-basic-styles.scss */
.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 183, ../scss/pdxc-basic-styles.scss */
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/* line 188, ../scss/pdxc-basic-styles.scss */
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 193, ../scss/pdxc-basic-styles.scss */
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 198, ../scss/pdxc-basic-styles.scss */
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

/* line 203, ../scss/pdxc-basic-styles.scss */
a img.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 207, ../scss/pdxc-basic-styles.scss */
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

/* line 212, ../scss/pdxc-basic-styles.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 218, ../scss/pdxc-basic-styles.scss */
.wp-caption, .gallery-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

/* line 226, ../scss/pdxc-basic-styles.scss */
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

/* line 230, ../scss/pdxc-basic-styles.scss */
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

/* line 234, ../scss/pdxc-basic-styles.scss */
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

/* line 238, ../scss/pdxc-basic-styles.scss */
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

/* line 247, ../scss/pdxc-basic-styles.scss */
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* line 254, ../scss/pdxc-basic-styles.scss */
a.page-numbers, span.current {
  padding: 5px;
  font-size: 1.25rem;
}

/* line 259, ../scss/pdxc-basic-styles.scss */
a.prev, a.next {
  background: #cccccc;
}

/* line 263, ../scss/pdxc-basic-styles.scss */
a.prev {
  float: left;
}

/* line 267, ../scss/pdxc-basic-styles.scss */
a.next {
  float: right;
}

/* Text meant only for screen readers. */
/* line 272, ../scss/pdxc-basic-styles.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 280, ../scss/pdxc-basic-styles.scss */
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*@media Queries*/
@media (min-width: 1024px) {
  /* line 302, ../scss/pdxc-basic-styles.scss */
  #site-container {
    max-width: 1024px;
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  /*tablets in landscape mode and low resolution monitors*/
  /* line 310, ../scss/pdxc-basic-styles.scss */
  #site-container {
    max-width: 991px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*tablets in portrait mode*/
  /* line 317, ../scss/pdxc-basic-styles.scss */
  #site-container {
    margin: 0;
    max-width: 768px;
    overflow: hidden;
  }

  /* line 323, ../scss/pdxc-basic-styles.scss */
  #post-wrapper {
    width: 73%;
  }
}
@media (max-width: 767px) {
  /*smartphones*/
  /* line 330, ../scss/pdxc-basic-styles.scss */
  #site-title, .post-header h2 {
    font-size: 1.25rem;
  }

  /* line 335, ../scss/pdxc-basic-styles.scss */
  #site-description, .author, .post-date,
  .post-categories, .post-tags {
    font-size: .75rem;
  }

  /* line 340, ../scss/pdxc-basic-styles.scss */
  #site-container, .author, .post-date,
  .post-categories, .post-tags {
    float: none;
  }

  /* line 344, ../scss/pdxc-basic-styles.scss */
  #site-sidebar {
    display: none;
  }

  /* line 348, ../scss/pdxc-basic-styles.scss */
  #post-wrapper {
    width: 100%;
  }

  /* line 352, ../scss/pdxc-basic-styles.scss */
  li.depth-4 {
    display: none;
  }
}
